

.fundo{
	width: auto;
  	height: 645px;
  	background-color: #ebe9d7;
}
.CliqueNaBusca{
	width: 546px;
	height: 39px;
	font-family: Robot;
	font-size: 32px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.22;
	letter-spacing: -0.5px;
	text-align: center;
	color: #383743;
	top:339px;
}
.imagem{
	width: 234.2px;
  	height: 57px;
  	object-fit: contain;
  	margin-top: 50px;
  	margin-left: 50px;
}	
.FundoImagem{
	width: auto;
  	height: 151px;
  	background-image: linear-gradient(173deg, #ee4c77, #0d0430);
  	margin-top: -50px;
}
.busca{
	width: 60px;
	height: 60px;
	margin-top: 50px;
	background: url(icone/ic-search-copy.svg)no-repeat left ;
	border: none;
	transition: all 0.1s linear;
}
.busca:focus{
	width:1024px; 
	border-bottom: solid 1px #ffffff ;
	outline: none;
	margin-left: -1000px;
	margin-bottom: -80px;
	font-size: 2em;
	color:#ffffff;
	padding-left:50px;

}