<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>ioasys</title>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body ng-controller="loginCtrl">
	<div class="fundo" class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-dm-2 col-xs-2"></div>
			<div   class="col-lg-4 col-md-1 col-dm-1 col-xs-1">
				<div  class="logo">
					<img src="media/login/logo-home.png">
				</div>
				<div class="titulo">
					<h2 >BEM-VINDO AO EMPRESAS</h2>
				</div>
				<div class="subtitulo">Lorem ipsum dolor sit amet, contetur adipiscing elit. Nunc accumsan.</div>
				
				<form ng-subimit= "auth(login)" >
					<div>
						<input class="campo envelope" type="text" placeholder="E-mail" ng-model="login.email"  >
				
						
					</div>
					<div>
						<input  class="campo cadeado" type="password" placeholder="Senha" ng-model="login.password">
					</div>
				</form>
				<button type="subimit" class="btn btn-primary btn-btn  botao">Entrar</button>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
	<script>
	angular.module("app",[])
	.controller("loginCtrl",['scope','$http',function($scope,$http){
	$scope.auth=function(login)
	{
	$http.post('http://empresas.ioasys.com.br',login).then(function(response){
		console.log('sucesso');
		console.log('response');
	}
	.function(response){
		console.log('error');
		console.log('response');
	}) 
	}
	}])
	</script>
</body>
</html>