
.fundo{	
	width: auto;
  	height: 690px;
  	background-color: #ebe9d7;
}
.logo {
	width: 295px;
  	height: 72px;
  	object-fit: contain;
	left: 25%;
	margin-bottom: 80px;
	margin-top: 150px;
	margin-left: 20px;

 
}
.titulo{ 
	width: 250px;
	height: 64px;
  font-family: 'Roboto';
  font-size: 24px;
	text-align: center;
	color: #383743;
	margin-bottom: 40px;
	margin-left: 45px;
}
.subtitulo{
	width: 300.7px;
  height: 52px;
  font-family:' Roboto';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: -0.3px;
  text-align: center;
  color: #383743;
  margin-left: 20px;
  margin-bottom: 50px;

}
.campo{
	border: none;
	border-bottom: 1px solid #383743;
	background: transparent;
	outline: none;
	width: 351px;
  height: 20px;
	margin-left: 0%;
  margin-bottom: 23px;


}

.botao{
  width: 324px;
	height: 52.8px;
  border-radius: 3.6px;
  background-color: #57bbbc;
  margin-left: 15px;

}
.envelope{
  display:inline-block;
  padding-left:35px;
  line-height:16px;
  background-position:2px center;
  background-image:url(icone/ic-email.svg);
  background-repeat:no-repeat;
}
.cadeado{
  display:inline-block;
  padding-left:35px;
  line-height:16px;
  background-position:2px center;
  background-repeat:no-repeat;
  background-image:url(icone/ic-cadeado.svg);
}