<!DOCTYPE html>
<html ng-app="empresasModulo">
<head>
	<title>ioasys</title>
	
	<link rel="stylesheet" type="text/css" href="css/pesquisa.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	


	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
	<script src="JS/empresas.js"></script>
	


</head>
<body ng-controller="empresasController as empresas">
		<div class="fundo">
			<div class=" FundoImagem">
				<div class="container">
				<div class="col-lg-4 col-md-4 col-dm-4 col-xs-4">
						<input type="search" name="busca" class="busca" data-ng-model="buscar">	
				</div>
					<div class="pesquisa container"  ng-repeat="empresasTabelas in empresas">
							
						<h1>{{empresasTabelas.nome}}</h1>
						<h2>{{empresasTabelas.Tipo}}</h2>
						<h3>{{empresasTabelas.Pais}}</h3>	
					</div> 		
				</div>
			</div>
		</div>	
</body>

</html>