.fundo{
	width: auto;
  	height: 700px;
  	background-color: #ebe9d7;
}
.FundoImagem{
	width: auto;
  	height: 151px;
  	background-image: linear-gradient(173deg, #ee4c77, #0d0430);
  	margin-top: -50px;
}
.busca{
	display:inline-block;
	width: 1204px;
	height: 60px;
	margin-top: 70px;
	margin left: 100px;
	background: url(icone/ic-search-copy.svg);
	background-repeat: no-repeat;
	border: none;
	border-bottom: solid 1px #ffffff ;
	outline: none;	
	font-size: 2em;
	color:#ffffff;
	padding-left:60px;

}
.pesquisa{
	margin-top: 100px;

}